@import './../styles/utils/_utils.scss';
@import './../styles/vendor/sass-mq/mq';

.hero {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.logo {
  width: 400px;
  max-width: 75vw;

  @include mq(m) {
    width: 500px;
  }
}
